/* ------------------------------------------- */
/* COLOR VARIABLES
/* ------------------------------------------- */

$color-primary: #2ecc71;
$color-primary-light: #54d98c;
$color-primary-dark: #28b062;

/* GREY SHADES */

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

/* B & W */

$color-white: #fff;
$color-black: #000;

/* COLORS FOR SECTIONS BACKGROUNDS */

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #f1f0f0;



/* ------------------------------------------- */
/* GRID VARIABLES
/* ------------------------------------------- */

$grid-width: 114rem;    // MAX WIDTH
$gutter-vertical: 8rem; // VERTICAL SPACING BETWEEN COLUMNS
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem; // HORIZONTAL SPACING BETWEEN COLUMNS

/* ------------------------------------------- */
/* FONT
/* ------------------------------------------- */

$default-font-size: 1.6rem;