/*
COLORS:

Light green: #54d98c
Medium green: #2ecc71
Dark green: #28b062

*/
/* ------------------------------------------- */
/* 7-1 TYPE FOLDER / FILES IMPLEMENTATION
/* ------------------------------------------- */
/* - ABSTRACTS FOLDER FILES - */
/* ------------------------------------------- */
/* COLOR VARIABLES
/* ------------------------------------------- */
/* GREY SHADES */
/* B & W */
/* COLORS FOR SECTIONS BACKGROUNDS */
/* ------------------------------------------- */
/* GRID VARIABLES
/* ------------------------------------------- */
/* ------------------------------------------- */
/* FONT
/* ------------------------------------------- */
/* ------------------------------------------- */
/* CLAERFIX MIXIN FOR THE GRID
/* ------------------------------------------- */
/* ------------------------------------------- */
/* MIXIN THAT CENTERS THE ELEMENTS TO VH
/* ------------------------------------------- */
/* ------------------------------------------- */
/* CENTERS THE BUTTONS
/* ------------------------------------------- */
/* ------------------------------------------- */
/* MEDIA QUERY MANAGER
/* ------------------------------------------- */
/* // SIZES / DEVICES \\
    0 - 600px > Phone
    600 - 900px > Tablet Portrait
    900 - 1200px > Tablet Landscape
    [1200 - 18009 is where our normal style apply
    1800px + >Big Desktop

    1em = 16px - KIM
*/
/* // BREAKPOINT NAMES \\
    $breakpoint argument choices:
    - phone
    - tab-port
    - tab-land
    - big-desktop
*/
/* - BASE FOLDER FILES - */
/* ---------------------------------------------------------- */
/* U-CENTER-TEXT CLASS IN ABOUT SECTION | CENTERING THE TEXT
/* ---------------------------------------------------------- */
.u-center-text {
  text-align: center !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-BOTTOM-SMALL CLASS IN ABOUT SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-BOTTOM-MEDIUM CLASS IN ABOUT SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

/* ---------------------------------------------------------- */
/* U-MARGIN-BOTTOM-BIG CLASS IN ABOUT SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

/* ---------------------------------------------------------- */
/* U-MARGIN-TOP-BIG CLASS IN TOURS SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-top-medium {
  margin-top: 5rem !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-TOP-BIG CLASS IN TOURS SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-top-big {
  margin-top: 8rem !important; }

/* ---------------------------------------------------------- */
/* U-MARGIN-TOP-HUGE CLASS IN TOURS SECTION | POSITION THE TEXT
/* ---------------------------------------------------------- */
.u-margin-top-huge {
  margin-top: 10rem !important; }

/* ------------------------------------------- */
/* BODY TYPOGRAHPY SETUP
/* ------------------------------------------- */
body {
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #777; }

/* ------------------------------------------- */
/* HEADING PRIMARY | TEXT / STYLE H1
/* ------------------------------------------- */
.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    /* -- ANIMATION IMPLEMENTATION -- */
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    /* -- ANIMATION IMPLEMENTATION -- */
    animation-name: moveInRight;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem; } }

/* ------------------------------------------- */
/* HEADING SECONDARY | TEXT / STYLE H2
/* ------------------------------------------- */
.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #54d98c, #28b062);
  -webkit-background-clip: text;
  color: transparent;
  /*letter-spacing: .2rem;
    transition: all .2s; */
  /*
    &:hover {
        transform: skewY(2deg);
    } */ }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }

/* --------------------------------------------- */
/* HEADING TERTIARY + PARAGRAPH| TEXT / STYLE H3/P
/* --------------------------------------------- */
.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }
  @media (max-width: 37.5em) {
    .heading-tertiary {
      text-align: center; } }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

/* ------------------------------------------- */
/* BASIC SETUP
/* ------------------------------------------- */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /* DEFINES WHAT REM IS */
  font-size: 62.5%;
  /* Takes 62.5% of the default font size (16px). 100 / 16 = 62.5  */
  /* || 1rem = 10px; 10px/16px = 62.5% || */ }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  /*padding: 3rem;  /* Gives padding all around the body element, making white space on the sides. */ }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

/* ------------------------------------------- */
/* ANIMATIONS FOR THE HEADER
/* ------------------------------------------- */
/* --- ANIMATION FOR HEADER TEXT SETUP | STARTS --- */
@keyframes moveInLeft {
  /* - WHAT HAPPENS AT THE BEGINNING OF THE ANIMATION - */
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  /* - WHAT HAPPENS AT THE 80% OF THE ANIMATION - */
  80% {
    transform: translateX(1.5rem); }
  /* - WHAT HAPPENS AT THE 100% (END) - */
  100% {
    opacity: 1;
    transform: translate(0); } }

/* --- ANIMATION FOR HEADER TEXT SETUP | ENDS --- */
/* --- ANIMATION FOR HEADER SUB TEXT SETUP | STARTS --- */
@keyframes moveInRight {
  /* - WHAT HAPPENS AT THE BEGINNING OF THE ANIMATION - */
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  /* - WHAT HAPPENS AT THE 80% OF THE ANIMATION - */
  80% {
    transform: translateX(-1.5rem); }
  /* - WHAT HAPPENS AT THE 100% (END) - */
  100% {
    opacity: 1;
    transform: translate(0); } }

/* --- ANIMATION FOR HEADER SUB TEXT SETUP | ENDS --- */
/* --- ANIMATION FOR HEADER BUTTON SETUP | STARTS --- */
@keyframes moveInBottom {
  /* - WHAT HAPPENS AT THE BEGINNING OF THE ANIMATION - */
  0% {
    opacity: 0;
    transform: translateY(5rem); }
  /* - WHAT HAPPENS AT THE 100% (END) - */
  100% {
    opacity: 1;
    transform: translate(0); } }

/* --- ANIMATION FOR HEADER BUTTON SETUP | ENDS --- */
/* - COMPONENTS FOLDER FILES - */
/* ------------------------------------------- */
/* BUTTON WHITE | HEADER
/* ------------------------------------------- */
/* BUTTON WHITE NESTING */
.btn {
  /* BUTTON ON HOVER NESTING */
  /* BUTTON WHITE NESTING */
  /* BUTTON WHITE FADE ANIMATION */ }
  .btn, .btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    font-size: 1.6rem;
    /* CHANGE FOR THE <button> element */
    border: none;
    cursor: pointer; }
  .btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
    .btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .btn:active, .btn:focus {
    outline: none;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }
  .btn--white {
    background-color: #fff;
    color: #777; }
    .btn--white::after {
      background-color: #fff; }
  .btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }
  .btn--animated-1 {
    /* -- ANIMATION IMPLEMENTATION -- */
    animation-name: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: .75s;
    animation-fill-mode: backwards; }

/* ------------------------------------------- */
/* BUTTON TEXT | 
/* ------------------------------------------- */
.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #2ecc71;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #2ecc71;
  padding: 3px;
  transition: all .2s;
  position: relative; }

.btn-text:hover {
  background-color: #2ecc71;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

@media (max-width: 37.5em) {
  .btn-text {
    position: absolute;
    top: 0;
    left: 9.5rem; } }

/* ------------------------------------------- */
/* FEATURE-BOX | SECTION FEATURES BOXES
/* ------------------------------------------- */
.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.2rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  transition: transform .3s; }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    display: inline-block;
    background-image: linear-gradient(to right, #54d98c, #28b062);
    -webkit-background-clip: text;
    color: transparent;
    /*letter-spacing: .2rem;
        transition: all .2s; */ }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        margin-bottom: 0; } }
  .feature-box:hover {
    transform: translateY(-1.5rem) scale(1.03); }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 2rem; } }

/* ------------------------------------------- */
/* CONTAINER COMPONENT | SECTION SECTIONS
/* ------------------------------------------- */
.section-sections__container-1 {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../images/w-turbine-3.jpeg);
  background-size: cover;
  width: 100%;
  height: 90vh;
  margin-top: -50rem;
  overflow: hidden; }

.section-sections__text {
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 25rem; }

.section-sections__header-1 {
  font-size: 1.8rem;
  text-align: center; }

.section-sections__paragraph-1 {
  text-align: center; }

.section-sections__button-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .section-sections__button-1:hover {
    background-color: #2ecc71;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    transform: translate(-50%, -50%); }
  .section-sections__button-1:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0);
    transform: translate(-50%, -50%); }

.section-sections__container-2 {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../images/ocean-1.jpeg);
  background-size: cover;
  width: 100%;
  height: 80vh;
  margin-top: -10rem;
  overflow: hidden; }

.section-sections__text-2 {
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 10rem; }

.section-sections__header-2 {
  font-size: 1.8rem;
  text-align: center; }

.section-sections__paragraph-2 {
  text-align: center; }

.section-sections__button-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .section-sections__button-2:hover {
    background-color: #2ecc71;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    transform: translate(-50%, -50%); }
  .section-sections__button-2:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0);
    transform: translate(-50%, -50%); }

.section-sections__container-3 {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../images/pp-3.jpeg);
  background-size: cover;
  width: 100%;
  height: 80vh;
  margin-top: -10rem;
  overflow: hidden; }

.section-sections__text-2 {
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 10rem; }

.section-sections__header-3 {
  font-size: 1.8rem;
  text-align: center; }

.section-sections__paragraph-3 {
  text-align: center; }

.section-sections__button-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .section-sections__button-3:hover {
    background-color: #2ecc71;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    transform: translate(-50%, -50%); }
  .section-sections__button-3:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0);
    transform: translate(-50%, -50%); }

.section-sections__container-4 {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../images/header-3.jpg);
  background-size: cover;
  width: 100%;
  height: 70vh;
  margin-top: -10rem;
  overflow: hidden; }

.section-sections__text-2 {
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 15rem; }

.section-sections__header-4 {
  font-size: 1.8rem;
  text-align: center; }

.section-sections__paragraph-4 {
  text-align: center; }

.section-sections__button-4 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .section-sections__button-4:hover {
    background-color: #2ecc71;
    color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-2px);
    transform: translate(-50%, -50%); }
  .section-sections__button-4:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateY(0);
    transform: translate(-50%, -50%); }

.section-container-1 {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../images/w-turbine-3.jpeg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 90vh;
  margin-top: -50rem;
  overflow: hidden;
  position: relative;
  z-index: 1000; }
  .section-container-1__text {
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 25rem; }
  .section-container-1__header-1 {
    font-size: 1.8rem;
    text-align: center; }
  .section-container-1__paragraph-1 {
    text-align: center; }
  .section-container-1__button-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .section-container-1__button-1:hover {
      background-color: #2ecc71;
      color: #fff;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      transform: translateY(-2px);
      transform: translate(-50%, -50%); }
    .section-container-1__button-1:active {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      transform: translateY(0);
      transform: translate(-50%, -50%); }

.section-container-2 {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../images/ocean-1.jpeg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 90vh;
  margin-top: -20rem;
  overflow: hidden;
  position: relative;
  z-index: 500; }
  .section-container-2__text {
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 30rem; }
  .section-container-2__header-2 {
    font-size: 1.8rem;
    text-align: center; }
  .section-container-2__paragraph-2 {
    text-align: center; }
  .section-container-2__button-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .section-container-2__button-2:hover {
      background-color: #2ecc71;
      color: #fff;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      transform: translateY(-2px);
      transform: translate(-50%, -50%); }
    .section-container-2__button-2:active {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      transform: translateY(0);
      transform: translate(-50%, -50%); }

.section-container-3 {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../images/pp-3.jpeg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 90vh;
  margin-top: -20rem;
  overflow: hidden;
  position: relative;
  z-index: 400; }
  .section-container-3__text {
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 30rem; }
  .section-container-3__header-3 {
    font-size: 1.8rem;
    text-align: center; }
  .section-container-3__paragraph-3 {
    text-align: center; }
  .section-container-3__button-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .section-container-3__button-3:hover {
      background-color: #2ecc71;
      color: #fff;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      transform: translateY(-2px);
      transform: translate(-50%, -50%); }
    .section-container-3__button-3:active {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      transform: translateY(0);
      transform: translate(-50%, -50%); }

.section-container-4 {
  background-image: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(../images/nature-9.jpeg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 90vh;
  margin-top: -20rem;
  overflow: hidden;
  position: relative;
  z-index: 300; }
  .section-container-4__text {
    padding-right: 5rem;
    padding-left: 5rem;
    padding-top: 30rem; }
  .section-container-4__header-4 {
    font-size: 1.8rem;
    text-align: center; }
  .section-container-4__paragraph-4 {
    text-align: center; }
  .section-container-4__button-4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .section-container-4__button-4:hover {
      background-color: #2ecc71;
      color: #fff;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      transform: translateY(-2px);
      transform: translate(-50%, -50%); }
    .section-container-4__button-4:active {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      transform: translateY(0);
      transform: translate(-50%, -50%); }

/* - LAYOUT FOLDER FILES - */
/* ------------------------------------------- */
/* CUSTOM GRID FLOAT SYSTEM
/* ------------------------------------------- */
.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 3) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 3) + 2 * 6rem); }

/* ------------------------------------------- */
/* HEADER
/* ------------------------------------------- */
.header {
  height: 98vh;
  background-image: linear-gradient(to right bottom, rgba(84, 217, 140, 0.6), rgba(40, 176, 98, 0.6)), url(../images/header-4.jpeg);
  background-size: cover;
  background-position: top;
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 79%, 50% 100%, 0 83%, 0 0);
  clip-path: polygon(50% 0, 100% 0, 100% 79%, 50% 100%, 0 83%, 0 0);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 25%;
    right: 45%; }
  @media (max-width: 37.5em) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo {
    height: 8rem; }
  .header__text-box {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

/* ------------------------------------------- */
/* NAVIGATION
/* ------------------------------------------- */
.navigation {
  position: relative; }
  .navigation__list {
    float: right;
    list-style: none; }
  .navigation__item {
    display: inline-block;
    margin-top: 6.5rem;
    margin-left: 6rem;
    margin-right: 6rem; }
  .navigation__anchor:link, .navigation__anchor:visited {
    position: relative;
    padding: .8rem 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    border-bottom: .2rem solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s; }
    .navigation__anchor:link:hover, .navigation__anchor:link:active, .navigation__anchor:visited:hover, .navigation__anchor:visited:active {
      border-bottom: 0.2rem solid #2ecc71; }
  .navigation__anchor--left {
    position: absolute;
    right: 18rem; }
  .navigation__anchor--right {
    position: absolute;
    left: 12rem; }
  .navigation__logo {
    position: absolute;
    height: 7rem;
    top: 50%;
    left: 45%;
    transition: all .2s; }
    .navigation__logo:hover {
      top: 3.5rem; }
  .navigation__special-e {
    text-transform: none; }

/* - PAGES FOLDER FILES - */
/* ------------------------------------------- */
/* SECTION ABOUT | IN HOME PAGE
/* ------------------------------------------- */
.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  .section-about__header-3 {
    text-align: center; }
  .section-about__paragraph {
    text-align: center;
    font-size: 1.7rem; }
  .section-about__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .section-about__button:hover {
      background-color: #2ecc71;
      color: #fff;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      transform: translateY(-2px);
      transform: translate(-50%, -50%); }
    .section-about__button:active {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
      transform: translateY(0);
      transform: translate(-50%, -50%); }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

/* ------------------------------------------- */
/* SECTION FEATURES | IN HOME PAGE
/* ------------------------------------------- */
.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(84, 217, 140, 0.8), rgba(40, 176, 98, 0.8)), url(../images/nature-3.jpeg);
  background-size: cover;
  margin-top: -20rem;
  padding-bottom: 20rem;
  position: relative;
  z-index: 2000;
  /*-webkit-clip-path: polygon(51% 11%, 100% 2%, 100% 75%, 50% 100%, 0% 75%, 0 22%);
    clip-path: polygon(51% 11%, 100% 2%, 100% 75%, 50% 100%, 0% 75%, 0 22%); */
  /*@media (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {   // and (min-width: 600px) is the breakpoint set which will display the content below. Everything above 600px will be applied in the content below \\
        background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.800), rgba($color-primary-dark, 0.800)) ,url(../images/nat-4.jpg);
    }*/
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 79%, 50% 100%, 0 83%, 0 0);
  clip-path: polygon(50% 0, 100% 0, 100% 79%, 50% 100%, 0 83%, 0 0); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 10rem 0; } }
  @media (max-width: 56.25em) {
    .section-features {
      transform: skewY(-7deg);
      clip-path: none; }
      .section-features > * {
        transform: skewY(7deg); } }

/* ------------------------------------------- */
/* SECTION FEATURES | IN HOME PAGE
/* ------------------------------------------- */
.section-sections {
  background-color: #f7f7f7;
  margin-top: -20vh; }
